#home_carousel {
  margin-bottom: 0;

  img {
    width: 100%;
    max-height: 600px;
  }

  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    @include opacity(0.8);
    h4 {
      font-size: 3em;
      line-height: 2em;
    }
    p {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 2em;
    }
  }

  @include box-shadow(rgba(#333, 0.8) 0px 10px 20px,
                      rgba(#333, 0.4) 0px -5px 10px);
}

#home_events {
  margin-top: 5em;

  ul.nav-tabs {
    border: none;

    li {
      a {font-size: 1.5em;}
      &.active a {
        background: transparent;
      }
    }
  }

  #events {
    .event {
      h2 {margin-bottom: 1em;}
    }
  }
}

#map {
  @include border-radius(50em);
  margin: 0 5em;
}
